<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Backbone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- === Styles Twitter Bootstrap -->
    <!--V 3.0.1 ...-->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <div class="container">
                <a class="navbar-brand">Mon Blog</a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="jumbotron">
            <h1>Mon blog</h1>
            <p>
                Voici mes articles !
            </p>
        </div>

        <!-- ici notre template -->
        <script type="text/template" id="articles-tpl">

            <% _.each(articles, function(article) { %>
                <h1><%= article.title %></h1>
                <h6><%= article.publishedAt %></h6>
                <p>
                    <%= article.content %>
                </p>
                <% }); %>

        </script>
        <!-- les données seront affichées ici -->
        <div id="articles-container"></div>

    </div>


    <div id="container">Loading...!</div>

    <a href="#route1">Route1 </a>
    <a href="#route2">Route2 </a>
    <a href="#route3">Route3 </a>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        console.log('aa');
    </script>

</body>

</html>
